
.hr-style{
    
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(4, 1, 143, 0), rgba(4, 1, 143, 0.75), rgba(4, 1, 143, 0));
    margin-bottom: 3%;
    margin-top: 1%;

}
