.review-container{
    display: flex;
    height: calc(100vh - 56px);
    overflow: hidden;
  }
  
  .pdf-container{
    background-color: #ccc;
    width: 60%;
    padding: 2%;
    overflow: auto;
  }

  .pdf{
    width: 100%;
    background-color: #fff;
    height: 100vh;
  }
  
  .com-container{
    background-color: #fff;
    width: 40%;
  }

  .com-title{
    background-color: #fff;
    height: 10%;
    text-align: center;
    padding-top: 2%;
  }

  .com-accordion{
    background-color: #fff;
    height: 80%;
    overflow: auto;
  }

  .com-options{
    height: 10%;
    display: flex;
    justify-content: space-between;
    padding: 2% 20%;
    background-color: #fff;
  }
  

  table{
    width: 100%;
    font-size: small;
    align-items: center;
    margin-top:15%;
  }

  td{
    align-items: center;
    padding:3%;
    text-align: justify;
  }

  th{
    font-size: x-small;
    text-align: center;
  }


  .pregunta{
    width: 50%;
    font-size: small;
  }

  .columna{
    width: 12.5%;
  }

  .p-idioma{
    font-size: small;
    text-align: justify;
    margin: 2%;

  }